
<div class="header_first">
    <div  class="header_two">
      <div class="header_three">
        <div class="header_four">
          <div>
            <a
              class="header_five"
              href="/"
              >ELearning</a
            >
          </div>
          <div class="header_six">
            <div class="header_seven">
              <a href="/">
                <span
                  class="header_eight"
                  >Home</span
                ></a
              ><a href="/courses">
                <span
                  class="header_nine"
                  >Courses</span
                ></a
              >
              <a href="/about"
                ><span
                  class="header_ten"
                  >About</span
                ></a
              ><a href="/policy"
                ><span
                  class="header_eleven"
                  >Policy</span
                ></a
              ><a href="/faq"
                ><span
                  class="header_twelve"
                  >FAQ</span
                ></a
              >
            </div>
           
            <div class="header_fourteen">
              <svg
                stroke="currentColor"
                fill="none"
                stroke-width="2"
                viewBox="0 0 24 24"
                aria-hidden="true"
             
                height="25"
                width="25"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16m-7 6h7"
                ></path>
              </svg>
            </div>
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              aria-hidden="true"
              class="header"
              height="25"
              width="25"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path 
                stroke-linecap="round"
              
                stroke-linejoin="round"
                d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
    